
@{
    ViewData["Title"] = "DataCollection";
}

<h2> @Html.ActionLink("AD FS", "Index", "Adfs") </h2>

<h2> @Html.ActionLink("Device Registration", "Index", "DsReg") </h2>

<h2> @Html.ActionLink("App Proxy", "Index", "AppProxy") </h2>


