<h2>Pattern4: Lock/Unlock (Detail)</h2>
<br>
<br>
<input type="button" value="COPY" onclick="cp()" class="dsregbutton">
<br>
<br>
<h5>■ご留意事項<br></h5>
<h5>
    今回ご案内させていただきます資料採取は、多くのお客様の環境で採取した実績があり、通常はシステムの運用に影響を与えるものはございません。<br>
    しかしながら、元々システム リソースが不足している環境などでは影響を及ぼす可能性がございますので、念のため事前に CPU 使用率やメモリ使用量が恒常的に高騰していないこと、ストレージの空き領域が十分に (10 GB 以上) 存在することをご確認ください。<br>
</h5>
<br>
<h5>■ 情報採取の流れ<br></h5>
<h5>
    (1) 事前準備 (ツールのダウンロード、配置) を行います。<br>
    (2) 現象発生クライアント端末でログの採取を開始します。<br>
    (3) 一度端末をロックし、再度サインイン (アンロック) し、5 分ほど待ちます。<br>
    (4) 当該クライアント端末でログの採取を停止し、情報を採取します。<br>
</h5>
<br>
<h5>■ 情報採取手順詳細<br></h5>
<h5>
    以下に情報採取の詳細な手順を示しますので、こちらの手順をご参照いただき、情報の採取をお願い申し上げます。<br>
    <br>
    -----------------------------------------------------------------------------<br>
    (1) 事前準備 (ツールのダウンロード、配置) を行います。<br>
    -----------------------------------------------------------------------------<br>
    1. GitHub の下記 URL にアクセスし、"Clone or download" から Download ZIP を選択して "haadj-diagnostic-master.zip" をダウンロードします。<br>
    <br>
    https://github.com/jpazureid/haadj-diagnostic<br>
    <br>
    2. ダウンロードした ZIP ファイルに "AADTrace.zip" が含まれておりますので、さらに展開して "AADTrace" を任意のディレクトリに配置します。<br>
    <br>
    3. もし C:\AADLogs フォルダ (本スクリプトの出力フォルダ) がすでに存在する場合、事前に削除するか、必要に応じてリネームします 。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (2) 現象発生クライアント端末でログの採取を開始します。<br>
    -----------------------------------------------------------------------------<br>
    1. クライアント端末に通常利用しているユーザーでログオンします。<br>
    2. 管理者権限でコマンド プロンプトを起動し、「事前準備」で展開した AADTrace フォルダに移動します。<br>
    3. 以下のコマンドを実行します。<br>
    <br>
    start_trace.cmd -full<br>
    <br>
    4. 以下のメッセージが表示されましたら、ログの採取が開始されています。<br>
    <br>
    ----- <br>
    ***** All Tracing started *****<br>
    ----- <br>
    <br>
    5. コマンド プロンプトをそのまま起動しておきます。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (3) 一度端末をロックし、再度サインイン (アンロック) します。<br>
    -----------------------------------------------------------------------------<br>
    1. Windows キー + L などで、端末をロックします。<br>
    2. 再度同一のユーザーでサインイン (アンロック)して、5 分ほど待ちます。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (4) 当該クライアント端末でログの採取を停止し、情報を採取します。<br>
    -----------------------------------------------------------------------------<br>
    1. 手順 (2) で起動していたコマンド プロンプトで以下を実行し、トレースを停止します。<br>
    <br>
    stop_trace.cmd<br>
    <br>
    2. 以下のメッセージが表示されましたら、ログの採取が停止されています。<br>
    <br>
    ----- <br>
    Your logs have been successfully copied to C:\AADLogs.<br>
    ----- <br>
    <br>
    3. さらに、管理者権限ではなく、ログオンしているユーザーの権限で別のコマンド プロンプトを起動します。<br>
    4. 手順 (1) で展開した AADTrace フォルダに移動し、以下のコマンドを実行します。<br>
    <br>
    get_info.cmd<br>
    <br>
    5. C:\AADLogs フォルダごとを採取し、zip ファイルにまとめてご送付いただけますようお願いいたします。<br>
    <br>
    <br>
</h5>
<h5>
    ---------------------------------------<br>
    情報のアップロードにつきまして<br>
    ---------------------------------------<br>
    お手数をおかけいたしますが、以下の手順で採取した情報をアップロードいただきますようお願いいたします。<br>
    <br>
    1. 下記 リンク にアクセスします。<br>
    <br>
    ################# アップロードサイトのリンク #################<br>
    <br>
    2. 右上部の “+ ファイルの追加” をクリックします。<br>
    3. 表示されるダイアログで、アップロードをするファイルを選択することでアップロードされます。<br>
    4. アップロードが完了したことを弊社までご一報ください。<br>
</h5>
<br>
<br>
<h5>@Html.ActionLink("Back", "Index", "DsReg")</h5>
<br>

