<h2>Pattern3: Run Automatic-Device-Join Task manually (Detail)</h2>
<br>
<br>
<input type="button" value="COPY" onclick="cp()" class="dsregbutton">
<br>
<br>
<h5>■ご留意事項<br></h5>
<h5>
    今回ご案内させていただきます資料採取は、多くのお客様の環境で採取した実績があり、通常はシステムの運用に影響を与えるものはございません。<br>
    しかしながら、元々システム リソースが不足している環境などでは影響を及ぼす可能性がございますので、念のため事前に CPU 使用率やメモリ使用量が恒常的に高騰していないこと、ストレージの空き領域が十分に (10 GB 以上) 存在することをご確認ください。<br>
</h5>
<br>
<h5>■ 情報採取の流れ<br></h5>
<h5>
    (1) 事前準備 (ツールのダウンロード、配置) を行います。<br>
    (2) 現象発生クライアント端末でログの採取を開始します。<br>
    (3) タスクを手動で実行し、Hybrid AAD Join に失敗する現象を再現します。<br>
    (4) 当該クライアント端末でログの採取を停止し、情報を採取します。<br>
</h5>
<br>
<h5>■ 情報採取手順詳細<br></h5>
<h5>
    以下に情報採取の詳細な手順を示しますので、こちらの手順をご参照いただき、情報の採取をお願い申し上げます。<br>
    <br>
    -----------------------------------------------------------------------------<br>
    (1) 事前準備 (ツールのダウンロード、配置) を行います。<br>
    -----------------------------------------------------------------------------<br>
    1. GitHub の下記 URL にアクセスし、右上の "Code" から "Download ZIP" を選択して "haadj-diagnostic-master.zip" をダウンロードします。<br>
    <br>
    https://github.com/jpazureid/haadj-diagnostic<br>
    <br>
    2. ダウンロードした ZIP ファイルを展開して任意のディレクトリに配置します。<br>
    <br>
    3. もし C:\AADLogs フォルダ (本スクリプトの出力フォルダ) がすでに存在する場合、事前に削除するか、必要に応じてリネームします 。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (2) 現象発生クライアント端末でログの採取を開始します。<br>
    -----------------------------------------------------------------------------<br>
    1. クライアント端末に通常利用しているユーザーでログオンします。<br>
    2. 管理者権限でコマンド プロンプトを起動し、(1) で ZIP ファイルを展開したフォルダに移動します。<br>
    3. 以下のコマンドを実行します。<br>
    <br>
    start_trace.cmd -full<br>
    <br>
    4. 以下のメッセージが表示されましたら、ログの採取が開始されています。<br>
    <br>
    ----- <br>
    ***** All Tracing started *****<br>
    ----- <br>
    <br>
    5. コマンド プロンプトをそのまま起動しておきます。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (3) タスクを手動で実行し、Hybrid AAD Join に失敗する現象を再現します。<br>
    -----------------------------------------------------------------------------<br>
    [Windows 10 のバージョンが 1809 以降の場合]<br>
    1. 新しく管理者権限でコマンド プロンプトを起動し、以下のコマンドを実行します。<br>
    <br>
    dsregcmd /join<br>
    <br>
    2. Automatic-Device-Join タスクが実行されるため、約 5 分程度時間を置きます。 <br>
    <br>
    <br>
    [Windows 10 のバージョンが 1803 以前の場合]<br>
    1. タスクスケジューラを右クリックし、[管理者として実行] から管理者権限で起動します。<br>
    <br>
    2. 以下のタスクを即時実行します。<br>
    <br>
    [タスクスケジューラ] – [タスクスケジューラ ライブラリ] – [Microsoft] – [Windows] – [Workplace Join]<br>
    タスク名 : Automatic-Device-Join<br>
    <br>
    3. 約 5 分程度時間を置きます。 <br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (4) 当該クライアント端末でログの採取を停止し、情報を採取します。<br>
    -----------------------------------------------------------------------------<br>
    1. 手順 (2) で起動していたコマンド プロンプトで以下を実行し、トレースを停止します。<br>
    <br>
    stop_trace.cmd<br>
    <br>
    2. 以下のメッセージが表示されましたら、ログの採取が停止されています。<br>
    <br>
    ----- <br>
    Your logs have been successfully copied to C:\AADLogs.<br>
    ----- <br>
    <br>
    3. さらに、管理者権限ではなく、ログオンしているユーザーの権限で別のコマンド プロンプトを起動します。<br>
    4. 手順 (1) で ZIP ファイルを展開したフォルダに移動し、以下のコマンドを実行します。<br>
    <br>
    get_info.cmd<br>
    <br>
    5. C:\AADLogs フォルダごとを採取し、zip ファイルにまとめてご送付いただけますようお願いいたします。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (5) ドメイン コントローラーでオブジェクトの情報を採取します。<br>
    -----------------------------------------------------------------------------<br>
    オンプレミス の DC で、以下 2 つのオブジェクト情報を採取します。<br>
    <br>
    ・調査対象クライアント端末のデバイスのオブジェクト情報<br>
    ・上記クライアント端末の Windows にログオンしている AD ユーザーのオブジェクト情報<br>
    <br>
    1. オンプレミス Active Directory の任意の DC 上で [管理ツール] - [Active Directory ユーザーとコンピューター] を開きます。<br>
    2. メニューから [表示] - [拡張機能] にチェックを入れます。<br>
    3. 該当オブジェクト (ユーザーとデバイスの 2 つの オブジェクト) のプロパティを開きます。<br>
    4. [属性エディター] タブを開き、"distinguishedName" 値を選択し、[表示] をクリックします。<br>
    5. distinguishedName 値 (以下、DN 値) の内容をコピーします。<br>
    6. コマンド プロンプトを起動し、以下のコマンドを実行します。<br>
    <br>
    ldifde -f ＜任意の保存先パス\ファイル名＞ -d ＜手順 5. でコピーした DN 値＞<br>
    <br>
    コマンド例：<br>
    ldifde -f c:\temp\pc01.txt -d "CN=pc01,OU=OU01,DC=contoso,DC=com"<br>
    <br>
    <br>
</h5>
<h5>
    ---------------------------------------<br>
    情報のアップロードにつきまして<br>
    ---------------------------------------<br>
    お手数をおかけいたしますが、以下の手順で採取した情報をアップロードいただきますようお願いいたします。<br>
    <br>
    1. 下記 リンク にアクセスします。<br>
    <br>
    ################# アップロードサイトのリンク #################<br>
    <br>
    2. 右上部の “+ ファイルの追加” をクリックします。<br>
    3. 表示されるダイアログで、アップロードをするファイルを選択することでアップロードされます。<br>
    4. アップロードが完了したことを弊社までご一報ください。<br>
</h5>
<br>
<br>
<h5>@Html.ActionLink("Back", "Index", "DsReg")</h5>
<br>
