<h2>Pattern1: Run Automatic-Device-Join Task manually</h2>
<br>
<br>
<input type="button" value="COPY" onclick="cp()" class="dsregbutton">
<br>
<br>
<h5>■ご留意事項<br></h5>
<h5>
    ・今回ご案内させていただきます資料採取は、多くのお客様の環境で採取した実績があり、通常はシステムの運用に影響を与えるものはございません。<br>
    しかしながら、元々システム リソースが不足している環境などでは影響を及ぼす可能性がございますので、念のため事前に CPU 使用率やメモリ使用量が恒常的に高騰していないこと、ストレージの空き領域が十分に (10 GB 以上) 存在することをご確認ください。<br>
</h5>
<br>
<h5>■ 情報採取の流れ<br></h5>
<h5>
    (1) 現象発生クライアント端末でログの採取を開始します。<br>
    (2) タスクを手動で実行し、Hybrid AAD Join に失敗する現象を再現します。<br>
    (3) 当該クライアント端末でログの採取を停止し、情報を採取します。<br>
    (4) ドメイン コントローラーにて情報を採取します。<br>
</h5>
<br>
<h5>■ 情報採取手順詳細<br></h5>
<h5>
    以下に情報採取の詳細な手順を示しますので、こちらの手順をご参照いただき、情報の採取をお願い申し上げます。<br>
    <br>
    -----------------------------------------------------------------------------<br>
    (1) 現象発生クライアント端末でログの採取を開始します。<br>
    -----------------------------------------------------------------------------<br>
    1-1. クライアント端末を通常利用しているユーザーでログオンし、本メールに添付の AADTrace.zip を展開します。<br>
    1-2. 管理者権限でコマンド プロンプトを起動し、手順 1-1 で展開したフォルダに移動します。<br>
    1-3. 以下のコマンドを実行します。<br>
    <br>
    start_trace.cmd<br>
    <br>
    1-4. 以下のメッセージが表示されましたら、ログの採取が開始されています。<br>
    <br>
    ----- <br>
    **Tracing start**<br>
    ...<br>
    ----- <br>
    <br>
    1-5. コマンド プロンプトをそのまま起動しておきます。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (2) タスクを手動で実行し、Hybrid AAD Join に失敗する現象を再現します。<br>
    -----------------------------------------------------------------------------<br>
    下記タスクを手動で実行します。(右クリックから [実行する] を選択します。)<br>
    <br>
    ----- <br>
    パス : [タスクスケジューラ] – [タスクスケジューラ ライブラリ] – [Microsoft] – [Windows] – [Workplace Join]<br>
    タスク名 : Automatic-Device-Join<br>
    ----- <br>
    <br>
    ※ タスクスケジューラは、管理者権限で起動 (右クリックから管理者として実行) する必要がございます。<br>
    ※ Task を手動で実行後、[履歴] タブにタスクが実行されていることを確認します。また、タスクが実行された時刻を確認するため、スクリーン ショットを取得してご送付ください。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (3) 当該クライアント端末でログの採取を停止し、情報を採取します。<br>
    -----------------------------------------------------------------------------<br>
    3-1. 手順 (1) で起動していたコマンド プロンプトで以下を実行し、トレースを停止します。<br>
    <br>
    stop_trace.cmd<br>
    <br>
    3-2. 以下のメッセージが表示されましたら、ログの採取が停止されています。<br>
    <br>
    ----- <br>
    Your logs have been successfully copied to C:\TraceAAD.<br>
    ----- <br>
    <br>
    3-3. ログオンしているユーザーの権限でコマンド プロンプトを起動します。<br>
    3-4. 手順 (1) で展開したフォルダに移動し、以下のコマンドを実行します。<br>
    <br>
    get_info.cmd<br>
    <br>
    3-5. C:\TraceAAD フォルダごとを採取し、zip ファイルにまとめてご送付いただけますようお願いいたします。<br>
    <br>
    <br>
    -----------------------------------------------------------------------------<br>
    (4) ドメイン コントローラーにて情報を採取します。<br>
    -----------------------------------------------------------------------------<br>
    4-1. ドメイン コントローラーで、管理者権限で PowerShell を起動します。<br>
    4-2. 以下のコマンドを実行し、出力結果を採取します。<br>
    <br>
    ----- <br>
    $scp = New-Object System.DirectoryServices.DirectoryEntry<br>
    $scp.Path = "LDAP://CN=62a0ff2e-97b9-4513-943f-0d221bd30080,CN=Device Registration Configuration,CN=Services,CN=Configuration,DC=xxxxxxx,DC=xxxxxx"<br>
    $scp.Keywords<br>
    ----- <br>
    <br>
    DC=xxxxxxx,DC=xxxxxx にはオンプレミス Active Directory のドメイン名を入力します。<br>
    contoso.com の場合、DC=contoso,DC=com  と入力します。<br>
    <br>
    例 :<br>
    ----- <br>
    $scp = New-Object System.DirectoryServices.DirectoryEntry<br>
    $scp.Path = "LDAP://CN=62a0ff2e-97b9-4513-943f-0d221bd30080,CN=Device Registration Configuration,CN=Services,CN=Configuration,DC=contoso,DC=com "<br>
    $scp.Keywords<br>
    ----- <br>
    <br>
    <br>
</h5>
<h5>
    ---------------------------------------<br>
    情報のアップロードにつきまして<br>
    ---------------------------------------<br>
    お手数をおかけいたしますが、以下の手順で採取した情報をアップロードいただきますようお願いいたします。<br>
    <br>
    1. 下記 リンク にアクセスします。<br>
    <br>
    ################# アップロードサイトのリンク #################<br>
    <br>
    2. 右上部の “+ ファイルの追加” をクリックします。<br>
    3. 表示されるダイアログで、アップロードをするファイルを選択することでアップロードされます。<br>
    4. アップロードが完了したことを弊社までご一報ください。<br>
</h5>
<br>
<br>
<h5>@Html.ActionLink("Back", "Index", "DsReg")</h5>
<br>
